/* STYLE GENERAUX */

*{
        font-family: 'Lato','Arial', sans-serif;
        padding: 0px;
        margin: 0px;
        --primary-blue: #4285F4;
        --primary-blue-dark:#0d47a1;
        --grey-color:#262626;
        --grey-color-alt:#3f3f3f;
        --white-color:#ecf0f1;
        color: white;
        
    }
    h1{display:grid;align-items: center; justify-content: center; margin-top: 20px;}
    body{background-color: var(--grey-color);}

    .principal{  display: grid;

        grid-template-columns: repeat(8,1fr);
        align-items: center;
        justify-items: center;}

    .container{margin: 20px; padding: 20px; background-color: var(--grey-color-alt); border-radius: 20px;box-shadow: 0px 0px 10px rgb(14, 14, 14);}

    .container:nth-child(4){
        width: 400px;
        padding: 10px 50px 20px 50px;
    }

    .container h2{padding-top: 20px;}

    hr{background-color: var(--primary-blue); width: 60px; border: none; height: 3px; margin:20px 0px 20px 0px;}

    #canvas, #canvas2, #canvas3, #canvas4{
        background-color: rgb(225, 225, 225);
        border-radius: 3px;}
    #canvas3,#canvas4{margin-top: 20px;}

    .btnM{font-size: 16px !important;}

    .btnFleche{background-color: var(--primary-blue); border-radius: 10px; border: 1px solid var(--primary-blue); color: white; font-size: 18px; padding: 10px; width:70px;transition: all 0.3s;}
    .btnFleche:hover{background-color: var(--grey-color);}
    .btn{background-color: var(--grey-color); border-radius: 10px; border: 1px solid var(--primary-blue); color: white;margin: 5px; padding: 10px; width:90px;transition: all 0.3s; font-size: 18px;}
    .btn:hover{border: 1px solid var(--primary-blue-dark); color: var(--primary-blue);}



